.mainTitle {
	text-align:center;
}
.mainTitle .logo {
	width:100px;
	vertical-align:middle;
}
.mainTitle .text {
	vertical-align:middle;
}
/*newsfeed*/
.popupForm {
  display: block;
  text-align: center;
  width: 60%;
  background: #eeeeee;
  padding: 10px 0 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popupForm .close {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.formSection {
  width: 40%;
  display: inline-block;
}
.formSection input, .formSection textarea, .formSection select {
  width: 80%;
}
.newsfeed {
  width: 80%;
  margin: 50px auto;
}
.ng-invalid.ng-touched, .ng-submitted, .ng-invalid {
  border-color: red;
}