.mainTitle {
	text-align:center;
}
.mainTitle .logo {
	width:100px;
	vertical-align:middle;
}
.mainTitle .text {
	vertical-align:middle;
}
/*newsfeed*/
.popupForm {
  display: block;
  text-align: center;
  width: 60%;
  background: #eeeeee;
  padding: 10px 0 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.popupForm .close {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.formSection {
  width: 40%;
  display: inline-block;
}
.formSection input, .formSection textarea, .formSection select {
  width: 80%;
}
.newsfeed {
  width: 80%;
  margin: 50px auto;
}
.ng-invalid.ng-touched, .ng-submitted, .ng-invalid {
  border-color: red;
}
.newsfeedList {
	margin: 20px 0 0;
	padding: 0;
}
.newsfeedList li {
	margin-bottom: 20px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style-type: none;
  padding: 20px;
  box-sizing: border-box;
}

.newsfeedList li:hover .editButtons {
  opacity: 1;
  visibility: visible;
}

.editButtons {
  position: absolute;
  right: 25px;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.newsfeedList li img {
	width: 200px;
	margin: 20px 0 0 10px;
	vertical-align: top;
}
.newsfeedList li .video a {
	display: inline-block;	
	position: relative;
}
.newsfeedList li .video a:after {
	content: "";
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-25%, -50%);
	border: 50px solid #ccc;
	border-color: transparent transparent transparent #ccc;
}